
.Carr-container {
    max-width: 100%;
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap; 
    margin-top: 4rem;
}

.card {
    border: 2px solid #00000096;
    border-radius: 15px;
    box-shadow: 0 4px 8px #969696ff;
    max-width: 65%;
    max-height: auto;
    align-self: center;
    justify-content: center;
    transition: 0.3s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: 0 0 5px rgb(1, 67, 121), 0 0 20px rgb(1, 60, 136), 0 0 50px rgb(1, 70, 126), 0 0 100px rgb(3, 102, 196);
}
h1 {
    font-size: 4rem;   
    position: relative;
    align-self: center;
}
body {
    font-family: "BBH Bogle", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: antiquewhite; 
    width: 100%;
}
footer {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: rgb(0, 0, 0);
    margin-top: 3rem;
    font-size: 20px;
}

.col-md-4 img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    object-fit: cover;
}