* {
    margin: 0;
}

header {
    background: linear-gradient(-1deg, rgb(14, 45, 66), #16b8d1);
    color: white;
    text-align: center;
    border: none;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.carousel_container {
    height: 200px;
    object-fit: contain;
    position: static;
    background-color: #000000;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 45, 66);
}


#presentacion {
    max-width: 900px;
    border: 2px solid #000000;
    padding: 3rem;
    margin: 30px auto;
    border-radius: 20px;
    background: linear-gradient(-1deg, #c1dce1, #4ca1af);
}

.secciones_compartidas {
    padding: 30px;
    border: 2px solid;
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-1deg, #c1dce1, #d1e5e9);
}

#secciones_restantes {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 50px;
}

div h2 {
    text-align: center;
    margin-bottom: 2rem;
}

div p {
    text-align: justify;
}

section:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px #969696ff;
    border-color: #47729cff;
    transition: transform 0.3s ease;
}
.secciones_individuales {
    max-width: 900px;
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(-1deg, #c1dce1, #d1e5e9);
}
#propuestas {
    max-width: 1200px;
    margin: 40px auto;
    align-items: center;
}

#propuestas h2 {
    margin-bottom: 30px;
}

#sobreMi {
    max-width: 900px;
    border: 2px solid #000000;
    padding: 3rem;
    margin: 30px auto;
    border-radius: 20px;
    background: linear-gradient(-1deg, #c1dce1, #4ca1af);
}

#proyectos {
    max-width: 900px;
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(-1deg, #c1dce1, #d1e5e9);
}

footer {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: white;
    margin-top: 3rem;
}

img {
    height: 700px;
    width: auto;
}

#up_arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 5rem;
    color: #f863df;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(244, 163, 255),
    0 0 82px rgb(244, 163, 255), 0 0 92px rgb(244, 163, 255), 0 0 102px rgb(244, 163, 255), 0 0 15px rgb(13, 20, 18);
    border: none;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    
0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
        0 0 4px rgb(255, 255, 255),
        0 0 11px rgb(255, 255, 255),
        0 0 19px rgb(255, 255, 255),
        0 0 40px rgb(244, 163, 255),
        0 0 80px rgb(244, 163, 255),
        0 0 90px rgb(244, 163, 255),
        0 0 150px rgb(244, 163, 255),
}
20%, 24%, 55% {        
    text-shadow: none;
}    
}


.fa-circle-up:hover {
    transform: translateY(-4px);
    color: #000000d3;
    transition: transform 0.3s ease;
}

.navbar-brand {
    font-family: fantasy;
    font-size: 1.5rem;
    color: white;
}

.navbar-brand:hover {
    color: #07ffc9;
    transition: ease, 0.2s;
    transform: scale(1.2) translateX(15px);
}

.carousel {
    max-width: 80%;
    height: auto;
    align-self: center;
}

.carousel img {
    border-radius: 15px;
    height: auto;
    object-fit: contain;
    max-width: 1000px;
    align-self: center;
}
