body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: #090909; color: #26c91a;
    text-align: center;
} 
p{font-size: 20px; 
    color: #d4d42d;
    text-underline-position: under; below;  
} 
li{font-size: 18px; 
    color: #dbd51d;
    text-underline-position: below;
    font-weight: bolder;
}
h1{
    font-size: 25px;
    color: #0f9d0f;
    text-align: center;
}