* {
    margin: 0;
}

body {
    font-family: 'Arial';
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
}

header {
    background: #2c3e50; 
    //color: white;
    //text-align: center;
    //padding: 3rem;
    //margin-bottom: 2rem;
}

/*
header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1rem;
}*/

footer {
    text-align: center;
    padding: 2rem;
    background-color: #2c3e50;
    color: white;
    margin-top: 3rem;
}


section {
    max-width: 900px;
    //margin: 0 auto 2rem auto;
    //background: #d4d4d4ff;
    //border: 3px solid #000000;
    //border-radius: 16px;
    //padding: 2.5rem;
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-15px); 
    box-shadow: 0 10px 20px #969696ff;
    border-color: #47729cff; 
}
