body{git push 
    background-color: rgb(7, 56, 35);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;

}
h1{
    text-align: left;
    color: rgb(50, 50, 50);
}   
.container{
    margin: auto;
    width: 90%;
    padding: 15px;
    border: 3px solid hsl(200, 50%, 50%);
    border-radius: 10px;
    background-color: hsl(210, 60%, 70%);
    color: black;
}

.bold{
    font-weight: normal;
}
