
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #292a29;
    color: #333;
    line-height: 1.6;
    padding-bottom: 50px;
}


header {
    background: #117707;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 10px;
}

nav ul li a {
    color: rgb(161, 174, 160);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #33ab4d;
    border-radius: 5px;
}


section {
    max-width: 900px;
    margin: 30px auto;
    background: rgb(190, 190, 190);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
    color: #076a02;
}


ul li {
    margin-bottom: 6px;
}


.imagenes img:hover{
    transform: scale(1.50);
    cursor: pointer;
    margin-bottom: 50px;
}

section a {
    color: #4a6cf7;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    background: #017d0c;
    color: white;
    padding: 15px;
    margin-top: 40px;
}

.navbar-brand img {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
}