body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #036146;
}
nav, header, section {
	background: #989304;
	padding: 20px;
	margin: 20px 15px;
	border: 10px;
	border-style: solid;
	border-color: aquamarine;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
	color: rgb(255, 89, 0);
    font-size: 24px;
}
a {
    color: #cc0063;
    text-decoration: none;
}
footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 40px;
}
#myName {
	text-align: center;
	font-weight: bold;
	color: #000000;
	font-size: 18px;
}