*{
    margin: 0;
}


header{
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: white;
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.carousel_container{
    height: 200px;
    object-fit: contain;
    position: static;
    background-color: #000000;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#presentacion{
    max-width: 900px;
    border: 2px solid #000000;
    padding: 3rem;
    margin: 30px auto;
    border-radius: 20px;
    background: linear-gradient(-1deg, #C1DCE1, #4ca1af); 
}

.secciones_compartidas{
    padding: 30px;
    border: 2px solid;
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-1deg, #C1DCE1, #D1E5E9); 
}

#secciones_restantes{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 50px;
    
}

div h2{
    text-align: center;
    margin-bottom: 2rem;
}

div p{
    text-align: justify;
}

section:hover {
    transform: translateY(-15px); 
    box-shadow: 0 10px 20px #969696ff;
    border-color: #47729cff; 
    transition: transform 0.3s ease;
}
.secciones_individuales{
    max-width: 900px;
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(-1deg, #C1DCE1, #D1E5E9); 
}
#propuestas{
    max-width: 1200px;
    margin: 40px auto;
    align-items: center;
}

#propuestas h2{
    margin-bottom:30px;
}

#sobreMi{
    max-width: 900px;
    border: 2px solid #000000;
    padding: 3rem;
    margin: 30px auto;
    border-radius: 20px;
    background: linear-gradient(-1deg, #C1DCE1, #4ca1af); 
}

#proyectos{
    max-width: 900px;
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(-1deg, #C1DCE1, #D1E5E9); 
}

footer {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: white;
    margin-top: 3rem;
}

img{
    height: 700px;
    width: auto;
}

#up_arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 4rem;
    color: #000000;
    text-decoration: none;
}
#up_arrow:hover {
    color: #5d0491;
    transform: translateY(-4px);
}

.navbar-brand{
    font-family: fantasy;
    font-size: 1.5rem;
    color: white;
}

.navbar-brand:hover{
    color: #07ffc9;
    transition: ease, 0.2s;
    transform:scale(1.2) translateX(15px);
}