body{
	background-color: black;
	color: darkred;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
	text-align: center;
	color: red;
}
.container{
	margin: auto;
	width: 80%;
	padding: 10px;
	border: 2px solid red;
	border-radius: 15px;
	background-color: darkred;
	color: black;
}
.bold{
	font-weight: bold;
}