body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:darkcyan;
}
nav {
    text-decoration: none;
    color:black;
    margin: 10px 10px;
}
header, section {
    background-color: darkkhaki;
    padding: 20px;
    margin: 20px 15px;
    border: 3px;
    border-style: solid;
    border-color: brown;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)
}
h2 {
    color:black;
}