body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #036146;
  color: #ffffff;
}
nav,
header,
section {
  background: #a5d6a7;
  padding: 20px;
  margin: 20px 15px;
  border: 10px;
  border: 3px solid aquamarine;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 32px;
  color: #2e7d32 !important;
  font-weight: bold;
}

h2 {
  color: #4caf50;
  font-size: 24px;
  font-weight: bold;
}
a {
  color: #4caf50;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.card {
  width: auto;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.btn-ajustada {
	display: inline-block !important;
  width: 80% !important;
  padding: 14px !important;
  background-color: #2e7d32 !important; /* verde */
  color: #ffffff !important; /* texto blanco */
  border: none !important;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.btn-ajustada:hover {
  background-color: #4caf50 !important;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 40px;
}
#myName {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  background-color: #2e7d32;
  border-radius: 8px;
}
#myName:hover {
  background-color: #4caf50;
}
