body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
            margin: 20px;
            background-color: rgb(221, 169, 150);
        }

        header, section {
            background: rgb(169, 195, 243);
            padding: 20px;
            margin-bottom: 20px 15px;
            border: 5px;
            border-style: solid;
            border-color: blueviolet;
            border-radius: 8px;
            box-shadow: 0 0 10px rgb(255, 0, 128);
        }
        
        h2, h3 {
            color: rgb(3, 61,168);
            text-align: left;
            }
        h1 {
            text-align: center;
            color: rgb(3, 61, 168);
        }
        p, ul, li, label, button{
            color: rgb(27, 51, 4);
        }
        footer{
            text-align: center;
        }
        .user-profile{
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
        .user-info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            font-family: sans-serif;
        }
        .user-name{
            font-weight: bold;
            align-items: right;
            font-size: 20px;
            color: rgb(3, 61, 168);
        }
        
