body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: #0b0b0b; color: #889fac;
    text-align: center;
} 
p{font-size: 20px; 
    color: #f8f8f3;text-align: center;
    text-underline-position: under; below;  
} 
li{font-size: 18px; 
    color: #fcfcf8;
    text-underline-position: below;
    font-weight: bolder;
}
h1{
    font-size: 25px;
    color: #d2e8e1;
    text-align: center;
}
header{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(49, 146, 159, 0.2), 0 6px 20px 0 rgba(31, 77, 123, 0.19);
}
li{ text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;font-weight: lighter;
}