body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color:darkcyan;
}
nav {
    text-decoration: none;
    color:black;
    margin: 0;
}
header {
    background-color: darkkhaki;
    padding: 20px;
    margin: 60px 15px 15px 15px;
    border: 3px;
    border-style: solid;
    border-color: brown;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)
} 
section {
    background-color: darkkhaki;
    padding: 20px;
    margin: 15px 15px;
    border: 3px;
    border-style: solid;
    border-color: brown;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)
}
div {
    box-sizing: content-box;
}
h2 {
    color:black;
}